{% extends 'network/layout.html' %}
{% load static %}

{% block title %}
Create Post
{% endblock %}

{% block body %}
<div id="create-post">
    <div style="margin-bottom: 20px;"><h2>New Post</h2></div>
    <div>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea autofocus class="form-control" name="content" placeholder="What do you want to say?"></textarea>
            </div>
            <input class="btn-style-blue" type="submit" value="Post">
        </form>
    </div>
</div>
{% block script %}
    <script src="{% static 'network/postvalidation.js' %}"></script>
{% endblock %}
{% endblock %}
