{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="border-bottom border-3 border-secondary-subtle mb-3 pb-3">
        <div class="d-flex justify-content-between  mb-3">
            <div class="fs-2 fw-bold">@{{ user_data.username }}</div>
            {% if user_data.is_own_profile %}
                <div class="align-items-center d-flex"><a style="color:black;" href="{% url 'edit_profile' user_data.username %}"><i class="bi bi-pencil"></i></a></div>
            {% endif %}
        </div>
        <div class="d-flex flex-row mb-3">
            <div class="align-items-center d-flex flex-column me-3">
                <div class="fs-5 fw-bold">Following</div>
                <div>{{ user_data.connections.followings }}</div>
            </div>
            {% if user_data.is_own_profile %}
                <div class="align-items-center d-flex flex-column">
                    <div class="fs-5 fw-bold">Followers</div>
                    <div>{{ user_data.connections.followers }}</div>
                </div>
            {% else %}
                {{ component_capsule|json_script:"component-data" }}
                <div id="follow-button"></div>
                <script src="{% static 'network/react-components/bundles/follow.bundle.js' %}" type="module"></script>
            {% endif %}
        </div>
        <div class="d-flex flex-column">
            <div class="fs-5 fw-bold">About</div>
            <div>{{ user_data.bio }}</div>
        </div>
    </div>

    {{ data|json_script:"data" }}
    <div id="all-posts-root"></div>

{% block script %}
    <script src="{% static 'network/react-components/bundles/index.bundle.js' %}" type="module"></script>
{% endblock %}
{% endblock %}
