{% extends "network/layout.html" %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center my-4">
        <h3>Sign up</h3>
    </div>

    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <form action="{% url 'register' %}" class="px-0 w-100" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <input class="form-control" autofocus type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group mb-3">
            <input class="form-control" type="email" id="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group mb-3">
            <textarea class="form-control" type="text" id="about" name="about" placeholder="Tell us about yourself a little"></textarea>
        </div>
        <div class="form-group mb-3">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group mb-3">
            <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" id="register-user" type="submit" value="Register">
    </form>

    <div style="text-align: center;">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}